<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="AdventureWorks2012"
    connectionString="Data Source=USER2-PC\SQLEXPRESS;Initial Catalog=AdventureWorks2012;User ID = sa; pwd=Init1234; Integrated Security=True"/>

  </connectionStrings>
</configuration>